/* GENERAL */

* {
  font-family: 'Poppins', sans-serif; 
}

html {
  font-size: 62.5%;
}

body, .boxes, .boxes__container, .boxes__box, main, .boxes__hex, .buttons, .saved, .saved__palettes, .saved__boxes  {
  display: flex;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #E7F1F1;
}

/* MAIN SECTION */

main {
  height: 100vh;
  width: 69vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-right: solid 5px black;
}

h1 {
  height: 10%;
  width: 100%;
  font-size: 7em;
  font-weight: 800;
  margin: -0.69em;
  text-align: center;
  overflow: hidden;
}

.boxes {
  width: 100%;
  aspect-ratio: 5/1;  
  justify-content: space-around;
  overflow: hidden;
}

.boxes__container {  
  flex-direction: column;
  align-items: center;  
  height: 100%; 
}

.boxes__box {
  height: 80%;
  min-height: 10%;
  aspect-ratio: 1 / 1;
  border: solid 3px black;
  justify-content: flex-end;
  align-items: flex-end;
}

.boxes__hex {
  height: 30%;
  width: 100%;
  font-size: 1.7em;
  font-weight: 400;
  margin: 0;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.buttons {
  margin-top: 0;
  justify-content: space-around;
  width: 80%;
}

.buttons__new, .buttons__save {
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: black;
  color: white;
  width: 12em;
  height: 2.6em;
  font-size: 1.8em;
  font-weight: 500;
  overflow: hidden;
  cursor: pointer;
  border: 0;
}

.boxes__lockbox {
  height: 3.3em;
  border: none; 
  background: none;
  padding: 0;
  margin-bottom: -.5em; 
  cursor: pointer;
} 

.boxes__unlocked, .boxes__locked {
  height: 2em;
}

.boxes--hidden {
  display: none;
}

/* SAVED SECTION */

.saved {
  height: 100vh;
  width: 31vw;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  overflow: hidden;
}

.saved__palettes {
  flex-direction: column;
  height: 100%;
  width: 87%;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}

.saved__message {
  font-size: 1.7324rem;
  opacity: 80%;
  font-style: italic;
}

.saved__boxes {
  width: 100%;
  height: 10%;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;  
}

.saved__box {
  height: 50%;
  border: solid 2px black;
  aspect-ratio: 1/1;
}

.saved__delete {
  height: 50%;
  aspect-ratio: 1/1;
  margin-left: 20px;
  cursor: pointer;  
}